#account-panel {
    width: 365px;

height: 310px;

background-color: #F5F7F8;

border-radius: 7px;

float: right;

position: absolute;

right: 9px;

top: 88px;

-webkit-box-shadow: 0px 8px 31px -2px rgba(25,118,210,0.28);

-moz-box-shadow: 0px 8px 31px -2px rgba(25,118,210,0.28);

box-shadow: 0px 8px 31px -2px rgba(25,118,210,0.28);

display: none;
}

.account-header {
    background-color: white;
    height: 36%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.image-profile-popview{
    width: 102px;
    border-radius: 50%;
}

#profile-pic {
    height: 90px;
    width: 90px;
    margin-left: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 35px;
}

#profile-details {
    width: 220px;
    float: right;
    height: 100px;
    margin-left: 20px;
    margin-top: 35px;
}

.h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.h2 {
    font-size: 15px;
    margin-bottom: 10px;
}


#profile-buttons {
    font-size: 12px;
}

.view-profile {
    padding: 5px 15px;
    background-color: #1976D2;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 0;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
}

.view-profile:hover{
    background-color: #1668cb;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    -webkit-box-shadow: 0px 8px 31px -2px rgba(25,118,210,0.28);
    -moz-box-shadow: 0px 8px 31px -2px rgba(25,118,210,0.28);
    box-shadow: 0px 8px 31px -2px rgba(25,118,210,0.28);
}

.add-account {
    display: inline-block;
    color: #1976D2;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 12px;
}

.account-btn{cursor: pointer;}

.add-account:hover {
    background-color: #e4f4fc;
    padding: 5px 15px;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.add-account:not( :hover ) {
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    border-radius: 10px;
}

.account-menu-list {
    list-style-type: none;
}

.account-menu-list li {
    padding: 11px 0 11px 30px;
    cursor: pointer;
}

.account-menu-list li:hover {
    background-color: #e4f4fc;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    color: #116AB8;
}

.account-menu-list li:not (:hover) {
    /*background-color: #e4f4fc;*/
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.span {
    color: #EA356E;
    text-transform: uppercase;
    font-weight: 600;
}